body{
	background-image:url(https://images.unsplash.com/photo-1499509599374-00853a315a10?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c21bb1665058349adcb211989d4e4c1&auto=format&fit=crop&w=1350&q=80);
	background-size:cover;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
}

.bio{
	width:600px;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
}

h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}

.social-links{margin-top:50px;}
a{
	color:#333;
	text-decoration:none;
}
a:hover{text-decoration:underline}
.fa{margin:0 10px;}
